@model IEnumerable<ContosoUniversity.Models.Course>
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Contoso University</h1>
</div>


    <body>


    <h3>Available Courses:</h3>
    
        
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructors)
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            @*Display the list of courses*@
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @*Display instructors corresponding to each course*@
                @{
                    foreach (var instructor in item.Instructors)
                    {
                        @instructor.LastName @: @instructor.FirstMidName<br/>
                        }
                    }
             </td>
        </tr>
        }
        

    </table>
    

</body>


<div class="container body-content">

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Contoso University</p>
    </footer>
</div>
